body{
    background-color:rgb(37, 82, 84);
    background-image: linear-gradient(60deg, skyblue,grey,purple ,white);
}


header{
    color: white;
    word-spacing: 10vw;
    justify-content:space-between;
   }

button{
    border: transparent;
    background-color: transparent;
    font-size:medium;
    color:rgb(32, 41, 60);
    display: inline-block;
    font-weight: bolder;
    padding-top: 5px;
    justify-content: space-between;
}

nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border-radius: 22px;
}

nav > a {
    color:white;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 22px;
}

nav > a:hover{
     transition: 0.00s;
     color: white;

}

.btn{
    border-radius: 5rem;
    background-color:transparent;
    font-size:medium;
    color: lightcoral;
    border-color: white;
    display: flex;
    padding-top: 5px;
    justify-content: space-between;
}

.about{
    background:rgb(37, 89, 75);
    display: block;
    justify-content: space-between;
    border-radius: 22px;
    box-shadow: 2px 2px 20px rgba(0,0,0,0.3);
}

.cpp{
    background: rgb(37, 82, 84);  
    display: inline-block; 
    width: 200px;
    height: 100px;
    border: solid 5px bisque;
    transition: border-width 0.6s linear;
    border-radius: 5%;
    color:white;
}

.cpp:hover {border-width: 8px;}

.webd{
    background: rgb(37, 82, 84);   
    display: inline-block;
    width: 200px;
    height: 100px;
    border: solid 6px bisque;
    transition: border-width 0.6s linear;
    border-radius: 5%;
    color:white;
}

.webd:hover {border-width: 8px;}

.dsa{
    background: rgb(37, 82, 84);  
    display: inline-block;
    width: 200px;
    height: 100px; 
    border: solid 5px bisque;
    transition: border-width 0.6s linear;
    border-radius: 5%;
    color:white;
}

.dsa:hover {border-width: 8px;}


.bio{
    color: white;
    padding-right: 39vw;
    margin: 80px;
    display: block;
    font-size: 35px;
    font-weight:800;
    text-shadow:2px 2px 5px red;
}

summary{
    font-size: larger;
    color: aliceblue;
    font-weight: bold;
    
}

.weather{
    font-size: larger;
    display: block;
    width: 200px;
    height: 100px;
    background: linear-gradient(120deg,rgb(9, 9, 46),white,rgb(6, 6, 40));
    border-radius: 100%;   
}

.forecast{
    text-decoration: none;
    color: rgb(37, 82, 84);
    display: inline-block;
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0v;
    height: 100px;
    width: 100%;
    overflow: hidden;
}

.insta{
    color: white;
    text-align: center;
    bottom: 0;
    position: absolute;
    margin-left: 43vw;

}

.twit{
    color: white;
    text-align: center;
    bottom: 0;
    position:absolute;
    margin-left: 53vw;
}

@media (max-width: 600px){
    .imgg{
        width: 100%;
        display: block;
        object-fit: cover;
    }

    .dis{
        width: 100%;
        display: block;
        align-items: center;
    }

    .btn{
        display: block;
        align-items: center;
        flex: 1;
    }

    .skill{
        display: inline-block;
        align-items: center;
        text-align: center;
    }

    
    .social{
        display: block;
        align-items: center;
        text-align: center;
    }

    .prj{
        display: block;
        align-items: center;
        text-align: center;
    }

    .weather{
        display: block;
        align-items: center;
        text-align: center;
    }

    .forecast{
        display: block;
        align-items: center;
        text-align: center;
    }

    .footer{
        display: block;
        align-items: center;
    }
}


